.modal {
    --shadow-bg-color: rgba(0,0,0,0.4);
    --win-bg-color: var(--bg-color);
    --close-button-bg-color: var(--bg-color);
    --close-button-size: calc(0.6 * var(--unit-size));
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: var(--shadow-bg-color);
    position: fixed;
    top: 0;
    left: 0;
}
.modal > .win {
    display: flex;
    width: auto;
    height: auto;
    background: var(--win-bg-color);
    position: relative;
}
.modal > .win > .close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--close-button-size);
    height: var(--close-button-size);
    background: var(--close-button-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 50%;
    position: absolute;
    top: calc(-0.5 * var(--close-button-size));
    right: calc(-0.5 * var(--close-button-size));
    cursor: pointer;
}
.modal > .win > .close::before {
    content: '✕';
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--close-button-size);
    height: var(--close-button-size);
    color: var(--text-color);
    font-size: calc(0.5 * var(--close-button-size));
    line-height: calc(0.5 * var(--close-button-size));
    position: absolute;
    top: 0;
    right: 0;
}
.modal > .win > .close:hover {
    background: var(--color-red-dark);
    border-color: var(--color-red-dark);
}
.modal > .win > .close:hover::before {
    color: var(--text-color-invert);
}
.modal > .win > .content {
    display: flex;
    width: auto;
    height: auto;
}
